.form-subscribe {
  padding-top: 72px;
  padding-left: 93px;
  padding-bottom: 94px;

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
  }
}

.subscribe-section {
  display: flex;
  align-items: center;

  &__field {
    margin-right: 12px;
    padding-left: 16px;
    width: 358px;
    height: 50px;
    color: var(--white);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    transition: border-color var(--transition-duration-tfunction);
  }

  &__field:focus {
    border-color: var(--white);
  }

  &__field::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }

  &__btn {
    @include centeredflex(inline-flex);
    border: none;
  }

  &__btn:hover &__svg,
  &__btn:focus &__svg {
    fill: var(--accent);
  }

  &__svg {
    fill: var(--white);
    margin-left: 10px;
    transition: fill var(--transition-duration-tfunction);
  }
}
