.mobile-menu__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 99;
  transition: var(--transition-duration-tfunction);

  &.is-open:hover,
  &.is-open:focus {
    fill: var(--accent);
  }

  &.is-open .mobile-menu__icon-menu {
    display: none;
  }

  &.is-open .mobile-menu__icon-close {
    display: block;
  }

  .mobile-menu__icon-close {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu__container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  z-index: 1;
  overflow-y: scroll;
  padding: 48px 35px 48px 40px;

  &.is-open {
    display: block;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-menu {
  margin-bottom: 302px;
}

.mobile-nav {
  padding-top: 0px;
  padding-left: 0px;

  &__item {
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    position: relative;
    color: var(--secondary-text-color);
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: var(--transition-duration-tfunction);
  }

  &__link--current {
    position: relative;
    color: var(--accent);
  }
  &__link:hover,
  &__link:focus {
    color: var(--accent);
  }
}

.socials-menu {
  position: absolute;
  bottom: 48px;
}

.mobile-contacts {
  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-size: 24px;
    line-height: 1.2;
    color: inherit;
    transition: color var(--transition-duration-tfunction), font-size var(--transition-duration-tfunction);
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent);
    font-size: 34px;
  }
}

.mobile-socials {
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;

  &__link {
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.02em;
    color: var(--accent);
    transition: color var(--transition-duration-tfunction);
  }

  &__link:hover,
  &__link:focus {
    color: inherit;
  }

  &__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
