html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.overlay {
  min-height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.site-nav,
.contacts-header {
  display: inline-flex;
  align-items: center;
}

.site-nav__item,
.contacts-header__item {
  align-items: center;
}

.site-nav__link,
.site-nav__link--current,
.contacts-header__mail,
.contacts-header__mobile {
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.our-job__title,
.our-team__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.job,
.team {
  justify-content: center;
}

.site-nav__link,
.features__title,
.team__specialist,
.our-job__title,
.our-team__title,
.products__title {
  color: var(--secondary-text-color);
}
