.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.page-footer {
  background-color: var(--bgc-secondary);

  &__contacts {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (max-width: 767.98px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      width: 50%;
      // margin-right: 165px;
      // margin-left: 76px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 70px;
    }
  }

  &__address {
    font-style: inherit;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1199.98px) {
      text-align: center;
    }
  }

  &__location {
    color: var(--white);
    font-weight: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }

  &__socials {
    @media screen and (min-width: 768px) {
      width: 50%;
      padding-top: 65px;
      padding-bottom: 102px;
    }

    @media screen and (max-width: 1199.98px) {
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 72px;
      padding-bottom: 100px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white);
  }
}
