.site-nav {
  &__link {
    transition: var(--transition-duration-tfunction);
  }

  &__link--current {
    position: relative;
    color: var(--accent);
  }

  &__link--current::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent);
    border-radius: 2px;
  }

  &__link:hover,
  &__link:focus {
    color: var(--accent);
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }
}
